<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: aquamarine;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h1 {
            font-size: 45px;
            text-transform: capitalize;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    </style>
    <title>
        Welcome to NodeJs
    </title>
</head>

<body>
    <h1>Well well well, look who is here</h1>
    <p>Welcome to the Simulation</p>
</body>

</html>